@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;600&family=Poppins:wght@300;400;600;700&display=swap");
:root {
  /* primary */
  --light-pale-orange: #ebbe90;
  --dark-purplish-blue: #6d599e;
  --light-purplish-blue: #839ceb;
  --brownish-pale: #9e7751;
  /* text */
  --dark-navy-text: #184472;

  /* neutral */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Poppins", serif;
  background-color: var(--light-pale-orange);
  color: var(--dark-navy-text);
}

img {
  max-width: 100%;
}

p {
  display: block;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-navy-text);
  cursor: pointer;
  display: inline-block;
}

button {
  border: none;
  background-color: transparent;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows: minmax(100px, auto) 1fr minmax(150px, auto);
}

.defaultHero {
  min-height: calc(100vh - 100px);
  background: linear-gradient(
      to top,
      rgba(24, 68, 114, 0.8),
      rgba(112, 87, 133, 0.4),
      rgba(172, 111, 139, 0.2),
      rgba(213, 147, 142, 0),
      rgba(213, 147, 142, 0.5),
      rgba(213, 147, 142, 0.6),
      rgba(235, 190, 155, 1)
    ),
    url("../images/travel-banner-img.jpg") center/cover no-repeat;

  backdrop-filter: saturate(0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn .btn-primary {
  font-size: 1.25rem;
  color: var(--dark-navy-text);
  text-transform: uppercase;
  border: 2px solid var(--dark-navy-text);
  padding: 0.4em 1em;
}
